* {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
}

.available {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: green;
}

.selected {
    background: rgb(154, 117, 85) !important;
}

.black {
    background: rgb(27, 85, 151);
}

.white {
    background: rgb(236, 225, 162);
}